# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.csv
*.xlsx
*.jpg
*.pdf
*.png

# IntelliJ
SERVER\server\ORSM 2025\*.csv
SERVER\server\ORSM 2025\*.xlsx
SERVER\server\ORSM 2025\*.jpg
SERVER\server\ORSM 2025\*.pdf
SERVER\server\ORSM 2025\*.png
SERVER\server\ORSM 2025\SchedulingResults\*.csv
SERVER\server\ORSM 2025\TimeTable\*.csv
SERVER\server\ORSM 2025\PdfFiles\*.pdf
SERVER\server\ORSM 2025\PdfFiles\*.jpg


SERVER/server/src/main/resources/application.properties
SERVER/server/pom.xml
