HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



*.xlsx
*.jpg
*.pdf
*.png

# IntelliJ
SERVER\server\ORSM 2025\*.csv
SERVER\server\ORSM 2025\*.xlsx
SERVER\server\ORSM 2025\*.jpg
SERVER\server\ORSM 2025\*.pdf
SERVER\server\ORSM 2025\*.png
SERVER\server\ORSM 2025\SchedulingResults\*.csv
SERVER\server\ORSM 2025\TimeTable\*.csv
SERVER\server\ORSM 2025\PdfFiles\*.pdf
SERVER\server\ORSM 2025\PdfFiles\*.jpg


SERVER/server/src/main/resources/application.properties
SERVER/server/pom.xml
